<html>

<head>
  <title>DUCKFACE</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
  <link rel="stylesheet" type="text/css" href="/css/index.css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
  <script src=https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <script>      
    window.fbMessengerPlugins = window.fbMessengerPlugins || { init: function () { 
      FB.init({ appId: '1678638095724206', autoLogAppEvents: true, xfbml: true, version: 'v2.10' }); }, callable: [] 
    };
    window.fbAsyncInit = window.fbAsyncInit || 
    function () { window.fbMessengerPlugins.callable.forEach(function (item) { item(); });
    window.fbMessengerPlugins.init(); };
    setTimeout(function () { (function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0]; if (d.getElementById(id)) { return; } js = d.createElement(s); js.id = id; js.src = "//connect.facebook.net/en_US/sdk/xfbml.customerchat.js"; fjs.parentNode.insertBefore(js, fjs); }(document, 'script', 'facebook-jssdk')); }, 0);
  </script>
  <div class="fb-customerchat" page_id="149225355698502" ref=""> </div>
  <!-- <div class=container>
    <div class="row">
      <div class="col-xs-3"></div>
      <div class="col-xs-6">
        <img id="duck-image"></img>
      </div>
      <div class="col-xs-3"></div>
      <div class="col-xs-3"></div>
      <center>
        <div class="col-xs-6">
          <i class="fa fa-plus fa-5x" id="moarduckface" aria-hidden="true"></i>
          <h1 id="count"></h1>
        </div>
      </center>
      <div class="col-xs-3"></div>
    </div>
  </div>
</body>
<script src="/js/index.js"></script> -->

</html>